name: Build ayugram-desktop Arch package

on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest

    # 在 GitHub Ubuntu runner 里用 Arch Linux 容器
    container:
      image: archlinux:base-devel

    steps:
      - name: Install basic tools
        run: |
          pacman -Syu --noconfirm git sudo

          # 创建一个普通用户来构建（makepkg 不推荐用 root）
          useradd -m builder
          echo "builder ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers

      - name: Clone ayugram-desktop AUR PKGBUILD
        run: |
          sudo -u builder bash -lc "
            cd ~
            git clone https://aur.archlinux.org/ayugram-desktop.git
          "

      - name: Install build dependencies (from PKGBUILD)
        run: |
          sudo -u builder bash -lc '
            cd ~/ayugram-desktop
            source PKGBUILD
            pkgs=("${makedepends[@]}" "${depends[@]}")
            if [ "${#pkgs[@]}" -ne 0 ]; then
              sudo pacman -S --noconfirm --needed "${pkgs[@]}"
            fi
          '


      - name: Enable ccache
        run: |
          pacman -S --noconfirm ccache
          echo 'max_size = 5.0G' > /etc/ccache.conf
          echo 'cache_dir = /home/builder/.cache/ccache' >> /etc/ccache.conf
      
      - name: Restore ccache
        uses: actions/cache@v4
        with:
          path: /home/builder/.cache/ccache
          key: ccache-${{ runner.os }}-${{ github.sha }}
          restore-keys: |
            ccache-${{ runner.os }}-
      
      # 编译步骤里加环境变量
      - name: Build with makepkg
        run: |
          sudo -u builder bash -lc '
            export CC="clang" CXX="clang++"
            export CCACHE_DIR="$HOME/.cache/ccache"
            export PATH="/usr/lib/ccache/bin:$PATH"
            cd ~/ayugram-desktop
            MAKEFLAGS="-j1" CFLAGS="-O2 -pipe -fno-lto" CXXFLAGS="-O2 -pipe -fno-lto" makepkg -e -s --noconfirm
          '


      - name: Upload built packages
        uses: actions/upload-artifact@v4
        with:
          name: ayugram-packages
          path: /home/builder/ayugram-desktop/*.pkg.tar.zst
